{% extends "core/base.html" %}

{% block content %}
    <h1>Upcoming Matches (Following Gameday)</h1>
    <section class="match-section">
        {% for match in matches %}
        <div class="match-record">
            <div>
                <div>{{ match.MatchDateTime }}{% if match.Location.LocationStadium %} - {{ match.Location.LocationStadium }}{% endif %}{% if match.Location.LocationCity %}, {{ match.Location.LocationCity }}{% endif %}</div>
                {% for result in match.MatchResults %}
                    {% if result.ResultOrderID == 2 %}
                        <span class="match-points">{{ result.PointsTeam1 }}</span> : <span class="match-points">{{ result.PointsTeam2 }}</span>
                    {% endif %}
                {% endfor %}
                <img width="20" height="20" src="{{ match.Team1.TeamIconUrl }}" /> <strong>{{ match.Team1.TeamName }}</strong> -
                <strong>{{ match.Team2.TeamName }}</strong> <img width="20" height="20" src="{{ match.Team2.TeamIconUrl }}" />
            </div>

            <div>
                {% for goal in match.Goals %}
                    <div class=""> '{{ goal.MatchMinute }} {{ goal.GoalGetterName }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock%}
