{% extends "core/base.html" %}

{% block content %}
    <h1>Teams</h1>
    <section>
        <table class="table table-bordered">
        <tr>
            <th>Team</th>
            <th>Matches</th>
            <th>Score</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Wins/Losses Ratio</th>
        </tr>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>
                        <img width="20" height="20" src="{{ team.TeamIconUrl }}" />
                        <strong>{{ team.TeamName }}</strong>
                    </td>
                    <td>{{ team.Matches|default:'' }}</td>
                    <td>{{ team.Score|default:'' }}</td>
                    <td>{{ team.Wins|default:'' }}</td>
                    <td>{{ team.Losses|default:'' }}</td>
                    <td>{{ team.Draws|default:'' }}</td>
                    <td>{{ team.WinLossRatio|default:'' }} %</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </section>
{% endblock%}
